<body class="card_body">
  <main class="card_main">
    <div class="card_container">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          @for (img of listImg; track $index; let i = $index) {
            <div class="carousel-item" [class.active]="i === 0">
              <img src="{{ img }}" class="d-block w-100" alt="ảnh số {{ i + 1 }}" />
            </div>
          }

          <p class="card_number_slide">1/5</p>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card_phara">
        <div class="card_price">
          <p>&#8369;{{ card_price() }}</p>
          <p>P25,000</p>
          <p>Best Seller</p>
        </div>
        <div class="card_name_card_rate">
          <p class="cardName">
            {{ card_title() }}
          </p>
          <div class="cardRate">
            <span style="color: gold; font-size: xx-large">&#9733;</span>
            <p class="card_rate_number">4.9 (2000+) ></p>
          </div>
        </div>
        <p class="mota">
          {{ card_mota() }}
        </p>
        <div class="card_dotColor">
          <p class="colorTitle">Color</p>
          <div class="dotColor">
            @for (item of colorList; track item.id) {
              <app-color-dot
                [color]="item.color"
                [isActive]="selectColorId === item.id"
              ></app-color-dot>
            }
          </div>
        </div>
        <div class="card_Size">
          <p class="titleSize">Size (cm)</p>
          <div class="sizeNumber">
            @for (item of sizeList; track item.id) {
              <app-card-size [isActive]="selectSizeId === item.id">{{ item.size }}</app-card-size>
            }
          </div>
        </div>
        <div class="card_quantity">
          <div class="card_quantity_num">
            <p>Quantity</p>
            <p>In Stock</p>
          </div>
          <div class="card_quantity_title">
            <button class="btn btn-outline-secondary" type="button" id="btn-minus">−</button>
            <input
              type="number"
              class="form-control text-center"
              value="{{quantily()}}"
              id="input-quantity"
              readonly
            />
            <button class="btn btn-outline-secondary" type="button" id="btn-plus">+</button>
          </div>
        </div>
        <div class="card_buy">
          <button type="button" class="btn position-relative p-0 border-0">
            <i class="bi bi-heart" style="font-size: 1.5rem"></i>

            <span
              class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            >
            </span>
          </button>
          <button type="button" class="btn position-relative">
            <i class="bi bi-bag" style="font-size: 1.5rem"></i>
            <span
              class="dot_cart position-absolute translate-middle p-2 bg-danger border border-light rounded-circle"
            >
            </span>
          </button>
          <button class="btn btn-custom-buy">Buy Now</button>
        </div>
      </div>
    </div>
  </main>
</body>
