<div class="voucher-dropdown">
  <div class="dropdown-header" (click)="toggleDropdown()">
    <div class="header-main">
      <span class="ticket-icon">🏷️</span>
      <span class="label">Shopee Voucher</span>
      <div class="selected-tags">
        @for (v of cartService.selectedVouchers(); track v.id) {
          <span class="voucher-tag">{{ v.code }}</span>
        }
      </div>
    </div>
    <div class="header-action">
      <span class="promo-text" *ngIf="cartService.selectedVouchers().length === 0">Chọn hoặc nhập mã</span>
      <span class="arrow" [class.open]="isDropdownOpen">▼</span>
    </div>
  </div>

  <div class="dropdown-list" *ngIf="isDropdownOpen">
    <div class="voucher-list-container">
      @for (voucher of cartService.vouchers(); track voucher.id) {
        <div 
          class="voucher-card" 
          [class.disabled]="!cartService.isVoucherValid(voucher)"
          [class.active]="isVoucherSelected(voucher)"
          (click)="cartService.selectVoucher(voucher)"
        >
          <div class="card-left">S</div>
          <div class="card-right">
            <div class="v-name">{{ voucher.name }}</div>
            <div class="v-desc">{{ voucher.description }}</div>
            
            @if (!cartService.isVoucherValid(voucher)) {
              <div class="v-error">
                Mua thêm {{ (voucher.minSpend - cartService.getTotalByCategory(voucher.applyFor)) | number }}đ
              </div>
            }
          </div>
          <div class="card-checkbox">
            <input 
              type="checkbox" 
              [checked]="isVoucherSelected(voucher)"
              [disabled]="!cartService.isVoucherValid(voucher)"
            >
          </div>
        </div>
      }
    </div>
  </div>
</div>