<div class="voucher-container">
  <div class="header-voucher">
    <span class="title">S-Voucher</span>
    <span class="subtitle">Có thể chọn 1 Voucher</span>
  </div>
  
  <div class="voucher-list">
    @for (voucher of cartService.vouchers(); track voucher.id) {
      <div 
        class="voucher-item" 
        [class.disabled]="!cartService.isVoucherValid(voucher)"
        [class.selected]="cartService.selectedVoucher()?.id === voucher.id"
        (click)="cartService.selectVoucher(voucher)"
      >
        <div class="voucher-card-left">
          <div class="shopee-logo">S</div>
          <div class="dotted-line"></div>
        </div>
        
        <div class="voucher-card-right">
          <div class="info-top">
            <span class="badge">Số lượng có hạn</span>
            <div class="name">{{ voucher.name }}</div>
          </div>
          
          <div class="desc">{{ voucher.description }}</div>
          
          @if (!cartService.isVoucherValid(voucher)) {
            <div class="error-msg">
              Mua thêm {{ (voucher.minSpend - cartService.getTotalByCategory(voucher.applyFor)) | number }}đ sản phẩm {{ voucher.applyFor }} để sử dụng
            </div>
          }

          <div class="radio-wrapper">
            <input 
              type="radio" 
              class="custom-radio"
              [checked]="cartService.selectedVoucher()?.id === voucher.id"
              [disabled]="!cartService.isVoucherValid(voucher)"
            >
          </div>
        </div>
      </div>
    }
  </div>
</div>